{
  "swagger": "2.0",
  "info": {
    "description": "Sportfest backend",
    "version": "1.0.0",
    "title": "Sportfest Backend",
    "contact": {
      "url": "https://github.com/atiw-sportfest"
    }
  },
  "host": "sportfest.atiw.de",
  "basePath": "/backend",
  "tags": [
    {
      "name": "Teilnehmer"
    },
    {
      "name": "Disziplin"
    },
    {
      "name": "Ergebnis"
    },
    {
      "name": "Anmeldung"
    },
    {
      "name": "Meta"
    }
  ],
  "schemes": [
    "https"
  ],
  "parameters": {
    "aid": {
      "in": "path",
      "name": "aid",
      "description": "Anmeldungs-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "did": {
      "in": "path",
      "name": "did",
      "description": "Disziplin-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "eid": {
      "in": "path",
      "name": "eid",
      "description": "Ergebnis-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "kid": {
      "in": "path",
      "name": "kid",
      "description": "Klassen-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "lid": {
      "in": "path",
      "name": "lid",
      "description": "Leistungs-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "sid": {
      "in": "path",
      "name": "sid",
      "description": "Schueler-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "versusid": {
      "in": "path",
      "name": "vid",
      "description": "Versus-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "type_teiln": {
      "in": "path",
      "name": "typ",
      "description": "Schueler- oder Klassenleistung",
      "required": true,
      "type": "string",
      "enum": [
        "klasse",
        "schueler"
      ]
    },
    "tid": {
      "in": "path",
      "name": "tid",
      "description": "Schueler- oder Klassen-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "typid": {
      "in": "path",
      "name": "typid",
      "description": "Typ-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "leistungen": {
      "in": "body",
      "name": "leistungen",
      "description": "Leistungen",
      "required": true,
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Leistung"
        }
      }
    },
    "ergebnisse": {
      "in": "body",
      "name": "ergebnisse",
      "description": "Ergebnisse",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Ergebnis"
        }
      }
    },
    "user": {
      "in": "body",
      "name": "user",
      "description": "User",
      "schema": {
        "$ref": "#/definitions/User"
      }
    },
    "uid": {
      "in": "path",
      "name": "uid",
      "description": "User-ID",
      "required": true,
      "type": "integer",
      "format": "int64"
    },
    "typ": {
      "in": "body",
      "name": "typ",
      "description": "Typ",
      "schema": {
        "$ref": "#/definitions/Typ"
      }
    }
  },
  "responses": {
    "Anmeldung": {
      "description": "Anmeldung",
      "schema": {
        "$ref": "#/definitions/Anmeldung"
      }
    },
    "Anmeldungen": {
      "description": "Anmeldungen",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Anmeldung"
        }
      }
    },
    "Disziplin": {
      "description": "Disziplin erfolgreich erstellt",
      "schema": {
        "$ref": "#/definitions/Disziplin"
      }
    },
    "Ergebnis": {
      "description": "Ergebnis",
      "schema": {
        "$ref": "#/definitions/Ergebnis"
      }
    },
    "Ergebnisse": {
      "description": "Ergebnisse",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Ergebnis"
        }
      }
    },
    "Leistung": {
      "description": "Leistung",
      "schema": {
        "$ref": "#/definitions/Leistung"
      }
    },
    "Leistungen": {
      "description": "Leistungen",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Leistung"
        }
      }
    },
    "Klasse": {
      "description": "Klasse",
      "schema": {
        "$ref": "#/definitions/Klasse"
      }
    },
    "Klassen": {
      "description": "Klassen",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Klasse"
        }
      }
    },
    "KlassenMitPunkten": {
      "description": "Klassen mit Punkten",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/KlasseMitPunkten"
        }
      }
    },
    "Schueler": {
      "description": "Schueler",
      "schema": {
        "$ref": "#/definitions/Schueler"
      }
    },
    "Schueler_pl": {
      "description": "Schueler_pl",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Schueler"
        }
      }
    },
    "User": {
      "description": "User",
      "schema": {
        "$ref": "#/definitions/User"
      }
    },
    "Users": {
      "description": "Users",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "Authentication": {
      "description": "Authentication",
      "schema": {
        "$ref": "#/definitions/Authentication"
      }
    },
    "ValidationResult": {
      "description": "Ergebniss der Syntaxpr\u00fcfung",
      "schema": {
        "$ref": "#/definitions/ValidationResult"
      }
    },
    "Typ": {
      "description": "Typ",
      "schema": {
        "$ref": "#/definitions/Typ"
      }
    },
    "Typen": {
      "description": "Typen",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Typ"
        }
      }
    }
  },
  "paths": {
    "/anmeldung": {
      "get": {
        "summary": "Anmeldungen anzeigen",
        "tags": [
          "Anmeldung"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Anmeldungen",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Anmeldung"
              }
            }
          }
        }
      }
    },
    "/anmeldung/{aid}": {
      "get": {
        "summary": "Anmeldung anzeigen",
        "tags": [
          "Anmeldung"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/aid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Anmeldung"
          }
        }
      },
      "delete": {
        "summary": "Anmeldung l\u00f6schen",
        "tags": [
          "Anmeldung"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/aid"
          }
        ],
        "responses": {
          "204": {
            "description": "Anmeldung gel\u00f6scht"
          }
        }
      }
    },
    "/disziplin": {
      "get": {
        "summary": "Disziplinen auflisten",
        "tags": [
          "Disziplin"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Disziplin"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Disziplin anlegen",
        "tags": [
          "Disziplin"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "disziplin",
            "schema": {
              "$ref": "#/definitions/Disziplin"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Disziplin"
          }
        }
      }
    },
    "/disziplin/{did}": {
      "get": {
        "summary": "Disziplin anzeigen",
        "tags": [
          "Disziplin"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Disziplin"
          }
        }
      },
      "post": {
        "summary": "Disziplin bearbeiten",
        "tags": [
          "Disziplin"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Neue Disziplin",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Disziplin"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Disziplin"
          }
        }
      },
      "delete": {
        "summary": "Disziplin l\u00f6schen",
        "tags": [
          "Disziplin"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          }
        ],
        "responses": {
          "204": {
            "description": "Disziplin gel\u00f6scht"
          }
        }
      }
    },
    "/disziplin/{did}/ergebnisse": {
      "parameters": [
        {
          "$ref": "#/parameters/did"
        }
      ],
      "get": {
        "summary": "Ergebnisse einer Disziplin anzeigen",
        "tags": [
          "Disziplin",
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      },
      "post": {
        "summary": "Ergebnisse f\u00fcr eine Disziplin anlegen",
        "description": "F\u00fcr die anzulegenden Ergebnisse wird die Disziplin-ID mit der im Pfad angegenen ID \u00fcberschrieben.",
        "tags": [
          "Disziplin",
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ergebnisse"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/disziplin/{did}/anmeldungen": {
      "get": {
        "summary": "Anmeldungen einer Disziplin anzeigen",
        "tags": [
          "Disziplin",
          "Anmeldung"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Anmeldungen"
          }
        }
      }
    },
    "/disziplin/{did}/leistungen": {
      "get": {
        "summary": "Leistungen einer Disziplin anzeigen",
        "tags": [
          "Disziplin",
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Leistungen"
          }
        }
      }
    },
    "/disziplin/{did}/leistungen/{tid}": {
      "post": {
        "summary": "Leistungen fuer eine Disziplin anlegen",
        "tags": [
          "Disziplin",
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          },
          {
            "$ref": "#/parameters/tid"
          },
          {
            "$ref": "#/parameters/leistungen"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Leistungen"
          }
        }
      }
    },
    "/disziplin/{did}/ergebnisse/{tid}": {
      "get": {
        "summary": "Ergebnisse f\u00fcr einen Teilnehmer einer Disziplin anzeigen",
        "tags": [
          "Disziplin",
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          },
          {
            "$ref": "#/parameters/tid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/ergebnis": {
      "get": {
        "summary": "Ergebnisse abrufen",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/ergebnis/{eid}": {
      "get": {
        "summary": "Ergebnis anzeigen",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/eid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnis"
          }
        }
      },
      "delete": {
        "summary": "Ergebnis l\u00f6schen",
        "tags": [
          "Ergebnis"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/eid"
          }
        ],
        "responses": {
          "204": {
            "description": "Ergebnis gel\u00f6scht"
          }
        }
      }
    },
    "/ergebnis/versus/{vid}": {
      "get": {
        "summary": "Ergebnisse eines Versus anzeigen",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/versusid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/klasse": {
      "get": {
        "summary": "Klassen auflisten",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Klassen"
          }
        }
      }
    },
    "/klasse/summary": {
      "get": {
        "summary": "Alle Klassen mit Punkten auflisten",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/KlassenMitPunkten"
          }
        }
      }
    },
    "/klasse/{kid}": {
      "get": {
        "summary": "Klasse abrufen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Klasse"
          }
        }
      },
      "delete": {
        "summary": "Klasse l\u00f6schen",
        "tags": [
          "Teilnehmer"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "204": {
            "description": "Gel\u00f6scht."
          }
        }
      }
    },
    "/klasse/{kid}/anmeldungen": {
      "get": {
        "summary": "Anmeldungen einer Klasse anzuzeigen",
        "tags": [
          "Anmeldung"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Anmeldungen"
          }
        }
      }
    },
    "/klasse/{kid}/anmeldebogen": {
      "parameters": [
        {
          "$ref": "#/parameters/kid"
        }
      ],
      "get": {
        "summary": "Anmeldebogen f\u00fcr eine Klasse herunterladen",
        "tags": [
          "Anmeldung"
        ],
        "produces": [
          "application/vnd.ms-excel"
        ],
        "responses": {
          "200": {
            "description": "Excel-Anmeldebogen",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "post": {
        "summary": "Anmeldebogen f\u00fcr eine Klasse hochladen",
        "tags": [
          "Anmeldung"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "description": "Anmeldung als Excel-Datei",
            "required": true,
            "type": "file",
            "x-mimetype": "application/vnd.ms-excel"
          }
        ],
        "responses": {
          "204": {
            "description": "Anmeldungen erstellt"
          }
        }
      }
    },
    "/klasse/{kid}/ergebnisse": {
      "get": {
        "summary": "Ergebnisse einer Klasse anzuzeigen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/klasse/{kid}/ergebnisse/{did}": {
      "get": {
        "summary": "Ergebnisse einer Klasse fuer eine Disziplin anzeigen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          },
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/klasse/{kid}/schueler": {
      "get": {
        "summary": "Schueler einer Klasse anzuzeigen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/kid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Schueler_pl"
          }
        }
      }
    },
    "/leistung": {
      "get": {
        "summary": "Leistungen anzeigen",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Leistungen"
          }
        }
      }
    },
    "/leistung/{lid}": {
      "get": {
        "summary": "Leistung anzeigen",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/lid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Leistung"
          }
        }
      },
      "post": {
        "summary": "Leistung bearbeiten",
        "tags": [
          "Ergebnis"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/lid"
          },
          {
            "in": "body",
            "name": "leistung",
            "schema": {
              "$ref": "#/definitions/Leistung"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Leistung"
          }
        }
      },
      "delete": {
        "summary": "Leistung l\u00f6schen",
        "tags": [
          "Ergebnis"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/lid"
          }
        ],
        "responses": {
          "204": {
            "description": "Leistung gel\u00f6scht."
          }
        }
      }
    },
    "/schueler": {
      "get": {
        "summary": "Schueler auflisten",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Schueler_pl"
          }
        }
      },
      "put": {
        "summary": "Sch\u00fcler importieren",
        "description": "Sch\u00fcler aus einer CSV-Datei importieren.\nDie Datei muss folgende Spalten in der angegebenen Reihenfolge enthalten:\nNachname, Vorname, Klasse, Geschlecht.",
        "tags": [
          "Teilnehmer"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "csv",
            "required": true,
            "type": "file",
            "description": "CSV-Datei",
            "x-mimetype": "text/csv"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Schueler_pl"
          }
        }
      }
    },
    "/schueler/{sid}/": {
      "get": {
        "summary": "Schueler abrufen",
        "tags": [
          "Teilnehmer"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/sid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Schueler"
          }
        }
      },
      "delete": {
        "summary": "Schueler l\u00f6schen",
        "tags": [
          "Teilnehmer"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/sid"
          }
        ],
        "responses": {
          "204": {
            "description": "Schueler gel\u00f6scht."
          }
        }
      }
    },
    "/schueler/{sid}/anmeldungen": {
      "get": {
        "summary": "Anmeldungen eines Schuelers anzuzeigen",
        "tags": [
          "Anmeldung"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/sid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Anmeldungen"
          }
        }
      }
    },
    "/schueler/{sid}/ergebnisse": {
      "get": {
        "summary": "Ergebnisse eines Schuelers anzuzeigen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/sid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/schueler/{sid}/ergebnisse/{did}": {
      "get": {
        "summary": "Ergebnisse eines Schuelers fuer eine Disziplin anzeigen",
        "tags": [
          "Teilnehmer"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/did"
          },
          {
            "$ref": "#/parameters/sid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Ergebnisse"
          }
        }
      }
    },
    "/authenticate": {
      "post": {
        "summary": "JWT Login",
        "tags": [
          "Meta"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Authentication"
          },
          "403": {
            "$ref": "#/responses/Authentication"
          }
        }
      }
    },
    "/user": {
      "post": {
        "summary": "Nutzer anlegen",
        "tags": [
          "Nutzer"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/User"
          }
        }
      },
      "get": {
        "summary": "Nutzer auflisten",
        "tags": [
          "Nutzer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Users"
          }
        }
      }
    },
    "/user/{uid}": {
      "parameters": [
        {
          "$ref": "#/parameters/uid"
        }
      ],
      "get": {
        "summary": "Nutzer anzeigen",
        "tags": [
          "Nutzer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/User"
          }
        }
      },
      "post": {
        "summary": "Nutzer \u00e4ndern",
        "tags": [
          "Nutzer"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/User"
          }
        }
      },
      "delete": {
        "summary": "Nutzer l\u00f6schen",
        "tags": [
          "Nutzer"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Nutzer gel\u00f6scht."
          }
        }
      }
    },
    "/sportfest": {
      "post": {
        "description": "Sportfest beenden",
        "tags": [
          "Meta"
        ],
        "responses": {
          "204": {
            "description": "Sportfest beendet"
          }
        }
      },
      "delete": {
        "description": "Sportfest zur\u00fccksetzen",
        "tags": [
          "Meta"
        ],
        "responses": {
          "204": {
            "description": "Sportfest zur\u00fcckgesetzt"
          }
        }
      }
    },
    "/dsl/check/regel": {
      "post": {
        "description": "Syntax-Pr\u00fcfung der Regel-DSL",
        "tags": [
          "Meta"
        ],
        "consumes": [
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "script",
            "description": "DSL-Skript",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ValidationResult"
          }
        }
      }
    },
    "/typ": {
      "get": {
        "description": "Typen auflisten",
        "tags": [
          "Meta"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Typen"
          }
        }
      },
      "post": {
        "description": "Typ anlegen",
        "tags": [
          "Meta"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/typ"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Typ"
          }
        }
      }
    },
    "/typ/{typid}": {
      "parameters": [
        {
          "$ref": "#/parameters/typid"
        }
      ],
      "get": {
        "description": "Typ abrufen",
        "tags": [
          "Meta"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Typ"
          }
        }
      },
      "post": {
        "description": "Typ \u00e4ndern",
        "tags": [
          "Meta"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/typ"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Typ"
          }
        }
      },
      "delete": {
        "description": "Typ l\u00f6schen",
        "responses": {
          "204": {
            "description": "Typ gel\u00f6scht"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "jwt": {
      "description": "JWT Authentication, as `HTTP-Authorization: Bearer`-Token",
      "type": "apiKey",
      "name": "HTTP-Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Anmeldung": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "disziplin": {
          "$ref": "#/definitions/Disziplin"
        },
        "schueler": {
          "$ref": "#/definitions/Schueler"
        }
      }
    },
    "Disziplin": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "bezeichnung": {
          "type": "string"
        },
        "beschreibung": {
          "type": "string"
        },
        "team": {
          "type": "boolean"
        },
        "versus": {
          "type": "boolean"
        },
        "variablen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable"
          }
        },
        "regeln": {
          "type": "string"
        },
        "aktiviert": {
          "type": "boolean"
        },
        "anmeldungenMin": {
          "type": "integer",
          "format": "int32"
        },
        "anmeldungenMax": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Ergebnis": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "punkte": {
          "type": "integer"
        },
        "leistungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Leistung"
          }
        },
        "klasse": {
          "$ref": "#/definitions/Klasse"
        },
        "schueler": {
          "$ref": "#/definitions/Schueler"
        },
        "disziplin": {
          "$ref": "#/definitions/Disziplin"
        }
      }
    },
    "Klasse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "bezeichnung": {
          "type": "string"
        }
      }
    },
    "KlasseMitPunkten": {
      "type": "object",
      "properties": {
        "klasse": {
          "$ref": "#/definitions/Klasse"
        },
        "punkte": {
          "type": "integer"
        }
      }
    },
    "Leistung": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "wert": {
          "type": "string"
        },
        "variable": {
          "$ref": "#/definitions/Variable"
        }
      }
    },
    "Schueler": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "vorname": {
          "type": "string"
        },
        "nachname": {
          "type": "string"
        },
        "geschlecht": {
          "type": "string"
        },
        "klasse": {
          "$ref": "#/definitions/Klasse"
        }
      }
    },
    "Typ": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "datentyp": {
          "type": "string",
          "enum": [
            "string",
            "int",
            "float",
            "long",
            "double"
          ]
        },
        "einheit": {
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "RegEx"
        },
        "bsp": {
          "type": "string",
          "description": "Beispiel"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Role"
        }
      }
    },
    "Variable": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "bezeichnung": {
          "type": "string"
        },
        "typ": {
          "$ref": "#/definitions/Typ"
        }
      }
    },
    "Versus": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "ergebnisse": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Ergebnis"
          }
        }
      }
    },
    "Authentication": {
      "type": "object",
      "required": [
        "success"
      ],
      "properties": {
        "success": {
          "type": "boolean"
        },
        "intial": {
          "type": "boolean"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "Role": {
      "type": "string",
      "enum": [
        "GAST",
        "SCHIEDSRICHTER",
        "ADMIN"
      ]
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "pass": {
          "type": "boolean"
        },
        "messages": {
          "type": "string"
        }
      }
    }
  }
}
